// INITIALISATION DES VARIABLES //
$is-white:#fff;
$is-black:#000;
$is-primary: #FFD600;
$is-bg-primary: #3B3A76;
$is-grey:#D7D6D6;
$is-blue:#003A85;

// CHEMIN DOSSIER BULMA SASS //
@use "bulma/sass" with (
  $family-primary: '"Nunito", sans-serif',
  $primary: $is-primary,
  $control-border-width: 2px,
  $input-shadow: none,
  $card-radius: 0,
);

// GÉNÉRAL //
body {
  margin:0;
  padding: 0;
  background-color: $is-grey;
}
// HEADER //
header, .navbar {
  background-color: $is-bg-primary;
  
  .navbar-menu {
    *{
      margin: 0 15px;
    }
    a {
      color: $is-white;
      &:hover {
        background-color: transparent;
      }
    }
    .navbar-end{
      a{
        color: $is-black;
      }
      a:hover {
        background-color: $is-white;
        color: $is-primary;
      }
    } 
  }
}
// SECTION PRESENTATION //
#presentation {
  #title_presentation {
    color:$is-blue;
    border-bottom: 5px solid $is-primary;
    width: fit-content;
    margin-bottom: 50px;
  }
  .card {
    height: 250px;
  }
  a {
    font-weight: bold;
  }

}
// SECTION TRANSPORT //
#transport {
  display: flex;
  flex-direction: column;
  background: url(/assets/images/transport.jpg) no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  color: $is-white;
  height: 400px;
  #back_transport {
    .subtitle {
      width: 800px;
      justify-self: center;
      margin-top: 20px;
    }
  }
  #title_transport {
    color: $is-white;
    border-bottom: 5px solid $is-primary;
    width: fit-content;
    justify-self: center;
  }
  p {
    color: $is-white;
  }
  a{
    margin-top: 10px;
  }
  #btn_transport {
    text-decoration: underline;
    font-weight: bold;
  }
}
 // FOOTER //
footer {
  background-color: $is-bg-primary;
  .navbar-brand {
    margin-right: 100px;
  }
  .navbar-menu {
      .navbar-start{
        a{
          color: $is-black;
          font-weight: bold;
        }
        a:hover {
          background-color: $is-white;
          color: $is-primary;
        }
      } 
    }
}

// HISTOIRE //
#story {
  background: url(/assets/images/story_truck.png) no-repeat;
  background-size: cover;
}
.container {
  margin-top: 20px;
  nav.breadcrumb ul  {
    li a{
      color:$is-black;
    }
  }
}
#title_story {
  color:$is-blue;
  border-bottom: 5px solid $is-primary;
  width: fit-content;
  margin-bottom: 50px;
}
#story_text {
  .card-content {
    margin-bottom: 100px;
    p {
      margin: 40px;
    }
  }
}

#services {
  background: url(/assets/images/services.png) no-repeat;
  background-size: cover;
}
#services_text {
  .card-content {
    margin-bottom: 100px
  }
  p {
    margin: 40px
  }
  p:nth-child(even){
    color: $is-blue;
    text-decoration: underline;
    font-weight: bold;
  }
}
.verticalDivider {
  border-left: 2px solid $is-black;
  height: auto;
}
#contact_form {
  width: 800px;
}







// APP TRACKHUB //

#title_connect {
  color:$is-blue;
  border-bottom: 5px solid $is-primary;
  width: fit-content;
  margin-bottom: 50px;
}
#connect {
  width: 800px;
  margin :auto;
  margin-bottom: 80px;
  * {
    color: $is-black;
  }
  input {
    background-color: $is-white;
  }
  .button_center {
    display: flex;
    justify-content: center;
  }
  .text_color {
    color:$is-primary;
    font-weight: bold;
  }
}
// Import the Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");