// Définir des couleurs personnalisées
$is-white:#fff;
$is-black:#000;
$is-primary: #FFD600;
$is-bg-primary: #3B3A76;
$is-grey:#D7D6D6;
$is-blue:#003A85;

@use "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
// Use Bootstrap SCSS files

// GÉNÉRAL //
body {
  margin:0;
  padding: 0;
  background-color: #D7D6D6;
  h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat'
  }
  * {
    font-family: 'Open sans';
  }
}

// table
table, th, td {
  border: 1px solid $is-black !important ; 
}

//breadcrumb
.container {
  margin-top: 20px;
  nav.breadcrumb ul  {
    li a{
      color:$is-black;
    }
  }
}

// BOUTTON UP
.pentagon-btn {
  position: absolute;
  right: 20px;
  top: 50px;
  width: 60px;
  height: 60px;
  background-color: $is-primary;
  clip-path: polygon(70% 0, 100% 30%, 100% 100%, 30% 100%, 0 70%, 0 0);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  &:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background: $is-white;
  }
  i {
    color: $is-black;
    font-size: 16px;
    font-weight: bold;
  }
}

// DIVIDER HONRIZONTAL
hr {
  border: 1px solid $is-black;
  width: 70%;
  margin: auto;
}

// SECTION PRESENTATION //
#presentation {
  #title_presentation {
    color:$is-blue;
    border-bottom: 5px solid $is-primary;
    width: fit-content;
    margin-bottom: 50px;
  }
  .card {
    height: 310px;
  }
  .custom-footer {
    margin-top: auto;
    margin-bottom: 15px;
    padding-top: 15px;
  }
  .btn {
    background: $is-primary;
    font-weight: bold;
    &:hover {
      color:$is-blue;
    }
  }

}

// SECTION TRANSPORT //
#transport {
  position: relative;
  height: 350px;
  color: $is-white;
  #title_transport,p,#btn_transport {
    position: relative;
    z-index: 2;
  }
  p {
      width: 800px;
      justify-self: center;
      margin-top: 20px;
      line-height: 40px;
    }
  #title_transport {
    color: $is-white;
    border-bottom: 5px solid $is-primary;
    width: fit-content;
    justify-self: center;
  }
  #btn_transport {
    text-decoration: underline;
    font-weight: bold;
    background: $is-primary;
    font-size: 20px;
    &:hover {
      color:$is-blue;
      background: $is-white;
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/assets/images/transport.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.45;
    z-index: 1;
  }
}

// SECTION CONTACT
#contact_form {
  width:600px;
  .btn {
    background: $is-primary;
    &:hover {
      background: $is-blue;
      color: $is-white;
    }
  }
  .vr {
    border-left: 2px solid $is-black;
    height: auto;
  }
}

// SECTION HEADER
.navbar-custom {
  background-color: #3B3571;
  .navbar-brand img {
    height: 80px;
  }
  .navbar-nav {
    margin: 0 auto;
  }
  .nav-link {
    color: white !important;
    margin-right: 60px; 
  }
  .btn-contact {
    background-color: #FFD700;
    color: black;
    font-weight: bold;
    margin-left: 40px; 
  }
  .btn-contact:hover {
    background-color: $is-white; 
    color: $is-blue;
  }
}

// SECTION FOOTER
.footer-custom {
  background-color: $is-bg-primary; 
  color: $is-white;
  padding: 20px 0;
  position: relative;
  .footer-logo img {
    height: 80px;
    margin-right: 50px;
  }
  .footer-buttons {
    .btn {
      background-color: $is-primary; 
      color: $is-black;
      font-weight: bold;
      border-radius: 5px;
      margin: 0 10px;
      &:hover {
        background-color: $is-white;
        color: $is-blue;
      }
    }
  }     
}

// SECTION HISTOIRE
#story {
  #story_image {
    background: url(/assets/images/story_truck.png) no-repeat;
    background-size: cover;
  }
  #title_story {
    color:$is-blue;
    border-bottom: 5px solid $is-primary;
    width: fit-content;
    margin-bottom: 50px;
  }
  #story_text {
    .card-content {
      margin-bottom: 100px;
      p {
        margin: 40px;
      }
    }
  }
}
  
// SECTION SERVICES
#services {
  #services_image {
    background: url(/assets/images/services.png) no-repeat;
    background-size: cover;
  }
  #title_services {
    color:$is-blue;
    border-bottom: 5px solid $is-primary;
    width: fit-content;
    margin-bottom: 50px;
  }
  #services_text {
    .card-content {
      margin-bottom: 100px
    }
    p {
      margin: 40px
    }
    p:nth-child(even){
      color: $is-blue;
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

// ----------------- TRACKHUB APP ------------------------

// HEADER
#header_connected {
  .btn {
    background: $is-primary;
    font-weight: bold;
    &:hover {
      background : $is-white;
      color: $is-blue;
    }
  }
}

// CLASS POUR LES TITRES DANS L'APP TRACKHUB
.trackhub_title {
  color:$is-blue;
  border-bottom: 5px solid $is-primary;
  width: fit-content;
  margin-bottom: 50px;
  margin: auto;
}

// PAGE POSITION
#position {
  .tab-content {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
  }
  .nav-tabs .nav-link {
    background-color: #0d6efd;
    color: $is-white;
    border: 1px solid #0d6efd;
    margin-right: 1px;
  }
  .nav-tabs .nav-link.active {
    background-color: $is-blue;
    color: $is-white;
  }
  .btn-custom {
    width: 120px;
    height: 40px;
    font-weight: bold;
    color: $is-white;
    border: none;
  }
  .btn-modifier {
    background: $is-primary;
    color: $is-black;
    &:hover {
      background: $is-primary;
    }
  }
  .btn-supprimer {
    background-color: red;
    color: $is-black;
    &:hover {
      background: red;
    }
  }
  .bg_thead_position th {
    background: $is-blue;
    color: $is-white;
  }
  .bi-caret-right-fill {
    color: $is-blue;
  }
  .bi-caret-up-fill {
    color: $is-blue;
  }
}

// PAGE CONNEXION
#connect {
  button:hover {
    background: $is-blue;
    a {
      color: $is-white;
    }
  }
  a {
    text-decoration: none;
    color: black;
  }
  .btn_connect {
    background: $is-primary;
  }
  .text_color {
    color:$is-primary;
    &:hover {
      color:$is-black;
    }
  }
}
// PAGE COMPTE
#account {
  .btn {
    background: $is-primary;
    color: $is-black;
    &:hover {
      background: $is-blue;
      color: $is-white;
    }
  }
}




#add_position,#add_entity {
  width: 650px;
  .btn {
    background:$is-primary;
    color: $is-black;
    &:hover {
      background: $is-blue;
      color:$is-white
    }
  }
}
#add_entity {
  input[type=submit] {
    display: flex;
    width: 180px;
    margin: auto;
  }
}