// Définir des couleurs personnalisées
$is-white:#fff;
$is-black:#000;
$is-primary: #FFD600;
$is-bg-primary: #3B3A76;
$is-grey:#D7D6D6;
$is-blue:#003A85;

@use "../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
// Use Bootstrap SCSS files

// GÉNÉRAL //
body {
  margin:0;
  padding: 0;
  background-color: #D7D6D6;
  h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat'
  }
  * {
    font-family: 'Open sans';
  }
}

// PRESENTATION
#presentation {
  #title_presentation {
    color:$is-blue;
    border-bottom: 5px solid $is-primary;
    width: fit-content;
    margin-bottom: 50px;
  }
  .card {
    height: 310px;
  }
  .custom-footer {
    margin-top: auto;
    margin-bottom: 15px;
    padding-top: 15px;
  }
  .btn {
    background: $is-primary;
    font-weight: bold;
    &:hover {
      color:$is-blue;
    }
  }
}